/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-size: 18px;
    margin-bottom: 15px;
    font-family: 'Rubik', sans-serif;
}

p {
    line-height: 1.4;
}

header {
    width: 800px;
    margin: 1rem auto 0; 
}

header nav {
    width: 80%;
    justify-content: space-around;
}

header nav a {
    text-decoration: none;
    color: black;
}

footer {
    width: 800px;
    background: black;
}

footer nav {
    width: 60%;
    justify-content: space-between;
    align-items: center;
    padding: 20px 2%;
    font-size: 14px;
}

footer nav a {
    color: white;
    text-decoration: none;
}

header .logo {
    width: 20%;
    margin: 0 auto;
}

header .logo img {
    width: 100%;
}

form {
    line-height: 3;
    width: 80%;
    margin: 2rem auto;
    text-align: center;
}

.header-container {
    width: 100%;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: baseline;
}

.flex-container {
    display: flex;
}

.container {
    width: 800px;
    margin: 0 auto;
}

.container img {
    width: 100%;
    margin: 2rem auto 1rem;
}

.top-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    border-bottom: 1px dashed black;
}

.top-content .text-container {
    width: 48%;
    padding: 0 1%;
    padding-bottom: 20px;  
}

.top-content.about {
    padding: 0 1rem 1.5rem;
    flex-flow: column;
    align-items: flex-start;
}

.middle-content {
    margin-bottom: 20px;
    border-bottom: 1px dashed black;
}

.middle-content h2 {
    padding: 1rem 2% 0;
    margin-bottom: 0;
}

.middle-content .boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.middle-content .boxes .box {
    width: 12.5%;
    height: 100px;
    background: black;
    margin: 20px 2.5%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.middle-content.about {
    width: 800px;
    flex-flow: row wrap;
    justify-content: space-between;
    border-bottom: none;
}

.middle-content .about-box {
    margin: 1rem;
    width: calc(50% - 2rem);
    border-bottom: 1px dashed black;
    padding-bottom: 1rem;
    text-align: left;
}

.middle-content .about-box img {
    margin-bottom: 0;
}

.middle-content .about-box h2 {
    padding-left: 0;
    line-height: 2.5;
}

.middle-content .about-box p {
    margin-bottom: 0.5rem;
}

.middle-content .about-box a {
    text-decoration: none;
    color: black;
    padding: 8px 20px;
    border: 2px solid black;
    border-radius: 10px;
    line-height: 3;
}

.bottom-content {
    display: flex;
    margin: 0 2% 20px;
    justify-content: space-around;
}

.bottom-content .text-container {
    padding-right: 4%;
}

.bottom-content .text-container:last-child {
    padding-right: 0;
}

.bottom-content.about {
    display: block;
    margin: 2rem 20px 3rem;
}

footer {
    width: 100%;
    background: black;
}

footer nav {
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 2%;
    font-size: 14px;
}

footer nav a {
    color: white;
    text-decoration: none;
}

#box1 {
    background: teal;
}

#box2 {
   background: gold; 
}

#box3 {
    background: cadetblue;
}

#box4 {
    background: coral;
}

#box5 {
    background: crimson;
}

#box6 {
    background: forestgreen;
}

#box7 {
    background: darkorchid;
}

#box8 {
    background: hotpink;
}

#box9 {
    background: indigo;
}

#box10 {
    background: dodgerblue;
}

@media screen and (max-width: 900px) {
    header, footer, .container, .middle-content.about {
        width: 100%;
    }

    .middle-content .boxes {
        flex-flow: column;
        margin: 0 auto;
        align-items: center;
    }

    .middle-content .boxes .box {
        width: 50%;
    }
}

@media screen and (max-width: 700px) {
    .middle-content .about-box {
        width: calc(100% - 2rem);
    }
}